body {
  font-size: 36px;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 800px;
  margin: auto;
}

.card {
  width: 96px;
  height: 96px;
  margin: 8px;
  border-radius: 4px;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 6.4px;
}

.card-content::selection {
  background: transparent;
}

.card.turned {
  transform: rotateY(-180deg);
}

@keyframes incorrect {
  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    transform: rotateY(-180deg) translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-4px);
  }
  40%,
  60 {
    transform: rotateY(-180deg) translateX(4px);
  }
}
@keyframes correct {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }
  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }
  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}

.rigth {
  pointer-events: none;
}

.right .card-content {
  animation: correct 1.3s ease-in-out forwards;
}

.wrong {
  animation: incorrect 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
